<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>New comment received:</h3>
    <p>From: <%= @contact_comment.name %><br></p>
    <p>Email: <%= @contact_comment.email %><br></p>
    <p>Message: <%= @contact_comment.message %><br></p>
  </body>
</html>
