<main id="user-show" class="grid-paper-background">
  <%= render "shared/flash_alert_message" %>
  <div class="wrapper-seventy">
    <section class="page-top-section">
      <h2>
        <span>My Report Templates</span>
        <span class="u-marginLeft0pt25 u-posCenter">
          <%= link_to '+', new_template_path, class:"plus-icon" %>
        </span>
      </h2>
    </section>

    <section class="templates-wrapper">
      <% @templates.sort_by(&:name).each do |template| %>
        <div class="user-template-group">
          <h3 class="underlined-link">
            <%= link_to template.name, template_path(template) %>
          </h3>
          <div><%= template.description %></div>
        </div>
      <% end %>

      <% if @templates.count == 0 %>
        <h3>
          <em>
            You don't have any report templates yet.
          </em>
        </h3>
      <% end %>
    </section>

  </div>
</main>
