<main id="user-show" class="centered-container grid-paper-background">
  <div class="wrapper-seventy">
    <section class="page-top-section">
      <h2>My Report Tasks:</h2>
    </section>

    <section class="tasks-wrapper">
      <% @tasks.each do |task| %>
        <div class="user-task-group">
          <h3 class="underlined-link">
            <%= link_to task.name, task_path(task) %>
          </h3>
          <div><%= task.description %></div>
        </div>
      <% end %>

      <% if @tasks.count == 0 %>
        <h3>
          <em>
            You don't have any report tasks yet.  Please <%= link_to "contact us", contact_path %> for inquiries.
          </em>
        </h3>
      <% end %>
    </section>

    <div class="small-link">
      <%= link_to 'Add a Report Task', new_task_path %>
    </div>
  </div>
</main>
