<main id="user-show" class="centered-container grid-paper-background">
  <div class="wrapper-seventy">
    <section class="page-top-section">
      <h2>My Report Templates:</h2>
    </section>

    <section class="templates-wrapper">
      <% @templates.each do |template| %>
        <div class="user-template-group">
          <h3 class="underlined-link">
            <%= link_to template.name, template_path(template) %>
          </h3>
          <div><%= template.description %></div>
        </div>
      <% end %>

      <% if @templates.count == 0 %>
        <h3>
          <em>
            You don't have any report templates yet.  Please <%= link_to "contact us", contact_path %> for inquiries.
          </em>
        </h3>
      <% end %>
    </section>

    <div class="small-link">
      <%= link_to 'Add a Report Template', new_template_path %>
    </div>
  </div>
</main>
