<main class="user-show centered-container">
  <section class="page-top-section">
    <h2>My Tasks:</h2>
  </section>

  <div class="tasks-wrapper">
    <% @tasks.each do |task| %>
      <div class="user-task-group">
        <h3 class="underlined-link">
          <%= link_to task.name, user_task_path(current_user, task) %>
        </h3>
        <div><%= task.description %></div>
      </div>
    <% end %>
  </div>
</main>
