<main id="homepage">
  <h1>Customized Data Processing Services</h1>
  <h3>Data processing customized to fit your company's needs</h3>
  <h3>Replace manual data entry with custom technology solutions</h3>
  <br/>
  <h3>Automate data processing</h3>
  <h3>Eliminate manual data entry/manipulation</h3>
  <h3>Reduce costs from manual data manipulation</h3>
  <h3>Leverage technology</h3>
  <h3>Personal, customized </h3>
  <h3>Unlimited report templates</h3>

  <br>
  <br>
  <br>
  <h1>How It Works</h1>
  <ul>
    <li>Create Report Template</li>
    <li>Upload source files</li>
    <li>Generate finalized report</li>
  </ul>

  <br>
  <br>
  <h3>We will work with you to ensure security and HIPAA compliance</h3>
  <h3>By default, we won't store your data on our servers</h3>
  <h3>Maintainable report history available if needed</h3>
</main>
