@import "colors";

/* Sticky footer: http://mystrd.at/modern-clean-css-sticky-footer */

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: $dark-green;
  color: white;
  text-align: center;

  li {
    display: inline-block;
    padding: 10px 25px;
  }

  span {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
    bottom: -6px;
    font-weight: 200;
    width: 90%;
  }
}
