@import "colors";
@import "fonts";
@import "constants";

header {
  background-color: $dark-green;
  height: $header-height;
}

#navbar {
  width: 80%;
  margin: 0 auto;

  .logo {
    left: 0;
    background-color: $dark-green;

    a {
      font-family: $serif-font;
      letter-spacing: 1px;
      color: white;
      position: absolute;
      top: 14px;

      span {
        font-size: 0.9em;
        padding-left: 8px;
      }
    }

    .home-logo {
      width: 130px;
      padding: 5px;
    }
  }

  .menus {
    right: 0;
    float: right;
    position: relative;

    li {
      display: inline-block;
      font-size: 16px;
    }

    .login-container {
      right: 0;
      position: absolute;
      float: right;
    }

    .login-container {
      background-color: $dark-green;
      top: 28px;

      a {
        color: white;
        font-size: 0.8em;
      }

      .border-right {
        border-right: 1px white solid;
      }

      li {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}
