@import 'fonts';
@import 'colors';

#homepage {
  text-align: center;
  color: black;

  h1 {
    padding-bottom: 50px;
  }

  .page-top-section {
    background: url("nyc-green.jpg") no-repeat center;
    background-size: cover;
    height: 700px;
    position: relative;

    h1 {
      margin: 0 auto;
      font-family: $serif-font;
      letter-spacing: 1px;
      font-size: 2.5em;
    }
  }

  section {
    padding: 150px 0;
  }

  .info-section {
    background-color: $link-green;
    background-color: $lightest-gray;

    .description {
      padding-bottom: 70px;
    }
  }

  .what-we-do {
    background-color: $comp-yellow;
    background-color: $comp-brown;

    .benefits {
      margin: 0 auto;
      width: 34%;
      text-align: left;

      span {
        margin-bottom: 20px;
      }

      img {
        padding-right: 15px;
        vertical-align: bottom;
      }
    }

    h3 {
      display: inline;
    }
  }

  .how-it-works {
    background-color: $lightest-gray;

    #simple-steps {
      width: 80%;
      margin: 0 auto;
      font-size: 1.2em;

      img {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100px;
        height: 100px;
      }

      h2 {
        width: 100%;
        color: black;

      }
    }

    .simple-step {
      display: inline-block;
      text-align: center;
      width: 100%;

      h3 {
        margin: 0 auto;
        width: 80%;
        font-weight: 100;
      }
    }
  }

  .contact-us {
    background-color: $comp-brown;

    a {
      text-decoration: underline;
    }
  }
}
