.simple-form {
  width: 100%;
  margin: 0 auto;

  h2, h3 {
    text-align: center;
  }

  .field {
    padding-top: 20px;
    width: 100%;
    text-align: center;
  }

  .field,
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=submit],
  textarea {
    margin: 5px auto 0;
  }

  textarea {
    width: 40%;
  }

  input[type=submit] {
    margin: 20px auto;
  }

  .devise-link {
    margin-bottom: 5px;
    text-align: center;
  }

  .slim-form {
    width: 70%;
    margin: 0 auto;
  }
}
