@import "colors";
@import "fonts";

html, body {
  height: 100%;
  font-family: $muli-family;
}

main {
  margin: 0 auto;
}

* {
  margin: 0;
}

#page-title {
  background-color: $header-footer-blue;

  h1 {
    color: white;
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    text-align: right;
    font-weight: 400;
    font-size: 48px;
  }
}

.page-top-section {
  padding: 100px 0 30px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.underlined-link, .small-link {
  text-decoration: underline;
  cursor: pointer;
}

.small-link {
  font-size: 12px;
}

.centered-container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;

    .centered {
      text-align: center;
    }
}
