@import "colors";
@import "fonts";

html, body {
  height: 100%;
  font-family: $sans-serif-font;
}

main {
  margin: 0 auto;
}

* {
  margin: 0;
}

.page-top-section {
  padding: 100px 0 30px;
  padding: 50px 0 30px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.underlined-link, .small-link {
  text-decoration: underline;
  cursor: pointer;
}

.small-link {
  font-size: 12px;
  text-align: left;
}

.centered-container {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;

  .centered {
    text-align: center;
  }
}
